src/node-red/final.json
[
    {
        "id": "a53c0a0c4c1790f0",
        "type": "tab",
        "label": "Final",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1f25b2430a34df33",
        "type": "file",
        "z": "a53c0a0c4c1790f0",
        "name": "",
        "filename": "/Users/bruno/Desktop/NDS/NodeRed/log.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1460,
        "y": 180,
        "wires": [
            [
                "1be3ec0c088da6db",
                "28af69c0ee87e3ec"
            ]
        ]
    },
    {
        "id": "1be3ec0c088da6db",
        "type": "e-mail",
        "z": "a53c0a0c4c1790f0",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": false,
        "token": "",
        "secure": true,
        "tls": false,
        "name": "omdxtc@telegmail.com",
        "dname": "Send Mail!",
        "credentials": {
            "userid": "",
            "password": ""
        },
        "x": 1830,
        "y": 180,
        "wires": []
    },
    {
        "id": "14cfb5e09b9ee027",
        "type": "json",
        "z": "a53c0a0c4c1790f0",
        "name": "save_temp_file",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 700,
        "y": 520,
        "wires": [
            [
                "ccd8825cf77378bd"
            ]
        ]
    },
    {
        "id": "ccd8825cf77378bd",
        "type": "file",
        "z": "a53c0a0c4c1790f0",
        "name": "",
        "filename": "C:\\Users\\Chris\\polimi\\NSDS\\NSDS_Contiki_Node\\files\\temp.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 920,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "d5d78de387a57576",
        "type": "function",
        "z": "a53c0a0c4c1790f0",
        "name": "filter_null_msg_change",
        "func": "if(msg!=null) return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 380,
        "wires": [
            [
                "14cfb5e09b9ee027"
            ]
        ]
    },
    {
        "id": "784b4e877f8b566d",
        "type": "function",
        "z": "a53c0a0c4c1790f0",
        "name": "compute_temperature_humidity",
        "func": "let change_msg = null;\nlet new_msg = null;\n\nif (msg.topic != 'nsds-iot-contiki' && context.get(\"current_year\") == null) {\n    context.set(\"current_day\", msg.payload.current_day);\n    context.set(\"current_month\", msg.payload.current_month);\n    context.set(\"current_year\", msg.payload.current_year);\n    context.set(\"current_day_temp\", msg.payload.current_day_temp);\n    context.set(\"current_day_humidity\", msg.payload.current_day_humidity);\n    context.set(\"max_temp\", msg.payload.max_temp);\n    context.set(\"min_temp\", msg.payload.min_temp);\n    context.set(\"max_humidity\", msg.payload.max_humidity);\n    context.set(\"min_humidity\", msg.payload.min_humidity);\n    context.set(\"max_temp_day\", msg.payload.max_temp_day);\n    context.set(\"min_temp_day\", msg.payload.min_temp_day);\n    context.set(\"max_humidity_day\", msg.payload.max_humidity_day);\n    context.set(\"min_humidity_day\", msg.payload.min_humidity_day);\n    context.set(\"reading\", msg.payload.reading);\n}\nelse if (msg.topic == \"nsds-iot-contiki\" && context.get(\"current_year\") != null) {\n    if (msg.payload.day == context.get(\"current_day\")) {\n        context.set(\"current_day_temp\", context.get(\"current_day_temp\") + msg.payload.temp);\n        context.set(\"current_day_humidity\", context.get(\"current_day_humidity\") + msg.payload.temp);\n        context.set(\"reading\", context.get(\"reading\") + 1);\n        change_msg = {\n            topic: msg.topic,\n            payload: {\n                current_month: context.get(\"current_month\"),\n                current_year: context.get(\"current_year\"),\n                current_day: context.get(\"current_day\"),\n                max_temp: context.get(\"max_temp\"),\n                min_temp: context.get(\"min_temp\"),\n                max_humidity: context.get(\"max_humidity\"),\n                min_humidity: context.get(\"min_humidity\"),\n                max_temp_day: context.get(\"max_temp_day\"),\n                min_temp_day: context.get(\"min_temp_day\"),\n                max_humidity_day: context.get(\"max_humidity_day\"),\n                min_humidity_day: context.get(\"min_humidity_day\"),\n                current_day_temp: context.get(\"current_day_temp\"),\n                current_day_humidity: context.get(\"current_day_humidity\"),\n                reading: context.get(\"reading\")\n            }\n        }\n    }\n    if (msg.payload.day != context.get(\"current_day\")) {\n        if (context.get(\"reading\") == 0) {\n            context.set(\"reading\", 1);\n        }\n        var avg_temp = context.get(\"current_day_temp\") / context.get(\"reading\");\n        var avg_humidity = context.get(\"current_day_humidity\") / context.get(\"reading\");\n      \n        if (avg_temp > context.get(\"max_temp\")){\n            context.set(\"max_temp\", avg_temp);\n            context.set(\"max_temp_day\", context.get(\"current_day\"));\n        } \n        if (avg_temp < context.get(\"min_temp\")){\n            context.set(\"min_temp\", avg_temp);\n            context.set(\"min_temp_day\", context.get(\"current_day\"));\n        } \n        if (avg_humidity > context.get(\"max_humidity\")){\n            context.set(\"max_humidity\", avg_humidity);\n            context.set(\"max_humidity_day\", context.get(\"current_day\"));\n        } \n        if (avg_humidity < context.get(\"min_humidity\")){\n            context.set(\"min_humidity\", avg_humidity);\n            context.set(\"min_humidity_day\", context.get(\"current_day\"));\n        } \n        \n        change_msg = {\n            topic: msg.topic,\n            payload: {\n                current_month: context.get(\"current_month\"),\n                current_year: context.get(\"current_year\"),\n                current_day: context.get(\"current_day\"),\n                max_temp: context.get(\"max_temp\"),\n                min_temp: context.get(\"min_temp\"),\n                max_humidity: context.get(\"max_humidity\"),\n                min_humidity: context.get(\"min_humidity\"),\n                max_temp_day: context.get(\"max_temp_day\"),\n                min_temp_day: context.get(\"min_temp_day\"),\n                max_humidity_day: context.get(\"max_humidity_day\"),\n                min_humidity_day: context.get(\"min_humidity_day\"),\n                current_day_temp: context.get(\"current_day_temp\"),\n                current_day_humidity: context.get(\"current_day_humidity\"),\n                reading: context.get(\"reading\")\n            }\n        }\n\n        context.set(\"current_day_temp\", msg.payload.temp);\n        context.set(\"current_day_humidity\", msg.payload.hum);\n        context.set(\"current_day\", msg.payload.day);\n        context.set(\"reading\", 1);\n    }\n    if (msg.payload.month != context.get(\"current_month\")) {\n        new_msg = {\n            topic: msg.topic,\n            payload: {\n                current_month: context.get(\"current_month\"),\n                current_year: context.get(\"current_year\"),\n                current_day: context.get(\"current_day\"),\n                max_temp: context.get(\"max_temp\"),\n                min_temp: context.get(\"min_temp\"),\n                max_humidity: context.get(\"max_humidity\"),\n                min_humidity: context.get(\"min_humidity\"),\n                max_temp_day: context.get(\"max_temp_day\"),\n                min_temp_day: context.get(\"min_temp_day\"),\n                max_humidity_day: context.get(\"max_humidity_day\"),\n                min_humidity_day: context.get(\"min_humidity_day\")\n            }\n        }\n\n        context.set(\"current_day\", msg.payload.day);\n        context.set(\"current_month\", msg.payload.month);\n        context.set(\"current_year\", msg.payload.year);\n        context.set(\"max_temp\", 0);\n        context.set(\"min_temp\", 100);\n        context.set(\"max_humidity\", 0);\n        context.set(\"min_humidity\", 100);\n        context.set(\"max_temp_day\", 0);\n        context.set(\"min_temp_day\", 0);\n        context.set(\"max_humidity_day\", 0);\n        context.set(\"min_humidity_day\", 0);\n\n    }\n\n    return [new_msg, change_msg];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"current_day\", null)\ncontext.set(\"current_month\", null)\ncontext.set(\"current_year\", null)\ncontext.set(\"current_day_temp\", null)\ncontext.set(\"current_day_humidity\", null)\ncontext.set(\"max_temp\", null)\ncontext.set(\"min_temp\", null)\ncontext.set(\"max_humidity\", null)\ncontext.set(\"min_humidity\", null)\ncontext.set(\"max_temp_day\", null)\ncontext.set(\"min_temp_day\", null)\ncontext.set(\"max_humidity_day\", null)\ncontext.set(\"min_humidity_day\", null)\ncontext.set(\"reading\", null)",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 240,
        "wires": [
            [
                "2e9bc955bcd7f734"
            ],
            [
                "d5d78de387a57576"
            ]
        ]
    },
    {
        "id": "befee64118d43c28",
        "type": "inject",
        "z": "a53c0a0c4c1790f0",
        "name": "prestart",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 760,
        "wires": [
            [
                "c39db71a9003eede"
            ]
        ]
    },
    {
        "id": "c39db71a9003eede",
        "type": "function",
        "z": "a53c0a0c4c1790f0",
        "name": "store_base_values",
        "func": "msg = {\n    payload: {\n    current_day: 1,\n    current_month: 1,\n    current_year: 2000,\n    current_day_temp: 0,\n    current_day_humidity: 0,\n    max_temp: 0,\n    min_temp: 100,\n    max_humidity: 0,\n    min_humidity: 100,\n    max_temp_day: 0,\n    min_temp_day: 0,\n    max_humidity_day: 0,\n    min_humidity_day: 0,\n    reading:0\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 760,
        "wires": [
            [
                "d2e50096b51fe617"
            ]
        ]
    },
    {
        "id": "00749234280776fe",
        "type": "file",
        "z": "a53c0a0c4c1790f0",
        "name": "",
        "filename": "/Users/bruno/Desktop/NDS/NodeRed/temp.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1030,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "d2e50096b51fe617",
        "type": "json",
        "z": "a53c0a0c4c1790f0",
        "name": "save_temp_file_base_values",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 660,
        "y": 760,
        "wires": [
            [
                "00749234280776fe"
            ]
        ]
    },
    {
        "id": "b3c15f66a6341d7d",
        "type": "file in",
        "z": "a53c0a0c4c1790f0",
        "name": "",
        "filename": "/Users/bruno/Desktop/NDS/NodeRed/temp.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 390,
        "y": 120,
        "wires": [
            [
                "0a14a8230d16e773"
            ]
        ]
    },
    {
        "id": "0a14a8230d16e773",
        "type": "json",
        "z": "a53c0a0c4c1790f0",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 240,
        "wires": [
            [
                "784b4e877f8b566d"
            ]
        ]
    },
    {
        "id": "93d999724e2f513e",
        "type": "mqtt in",
        "z": "a53c0a0c4c1790f0",
        "name": "contiki-MQTT",
        "topic": "iot/native/launchpad/json",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "5b3ddf093fdf1ef4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 360,
        "wires": [
            [
                "800457d2dcc9afb0",
                "b3c15f66a6341d7d"
            ]
        ]
    },
    {
        "id": "800457d2dcc9afb0",
        "type": "json",
        "z": "a53c0a0c4c1790f0",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 270,
        "y": 440,
        "wires": [
            [
                "31bd655088013fd9"
            ]
        ]
    },
    {
        "id": "31bd655088013fd9",
        "type": "function",
        "z": "a53c0a0c4c1790f0",
        "name": "rename_topic",
        "func": "let new_msg={\n    topic: \"nsds-iot-contiki\",\n    payload: msg.payload\n}\nreturn new_msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 440,
        "wires": [
            [
                "784b4e877f8b566d"
            ]
        ]
    },
    {
        "id": "37536ec1d83c13dd",
        "type": "json",
        "z": "a53c0a0c4c1790f0",
        "name": "temp",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 1330,
        "y": 320,
        "wires": [
            [
                "1f25b2430a34df33",
                "28af69c0ee87e3ec"
            ]
        ]
    },
    {
        "id": "28af69c0ee87e3ec",
        "type": "debug",
        "z": "a53c0a0c4c1790f0",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1580,
        "y": 420,
        "wires": []
    },
    {
        "id": "9c7029a031abdcef",
        "type": "function",
        "z": "a53c0a0c4c1790f0",
        "name": "prepare_log_line",
        "func": "msg.payload = \"max temp for \" + msg.payload.current_month + \"/\" + msg.payload.current_year + \" is \" + msg.payload.max_temp + \" °C on day: \"+ msg.payload.max_temp_day +\", the min is \" + msg.payload.min_temp + \"°C on day: \" + msg.payload.min_temp_day + \", max humidity is \" + msg.payload.max_humidity + \"% on day: \"+ msg.payload.max_humidty_day + \" min humidity is \" + msg.payload.min_humidity + \"% on day: \"+ msg.payload.min_humidity_day + \".\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 380,
        "wires": [
            [
                "37536ec1d83c13dd"
            ]
        ]
    },
    {
        "id": "2e9bc955bcd7f734",
        "type": "function",
        "z": "a53c0a0c4c1790f0",
        "name": "filter_null_msg",
        "func": "if(msg!=null) return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 320,
        "wires": [
            [
                "9c7029a031abdcef"
            ]
        ]
    },
    {
        "id": "5b3ddf093fdf1ef4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.neslab.it",
        "port": "3200",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]