node-red/flows.json
[
    {
        "id": "ae02c5fbbb9498b8",
        "type": "tab",
        "label": "contiki-tempHumSame",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5b3ddf093fdf1ef4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1884",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5e68a04c74809f5f",
        "type": "json",
        "z": "ae02c5fbbb9498b8",
        "name": "temp",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 1210,
        "y": 240,
        "wires": [
            [
                "7e4fc5d4067b3aea",
                "47bcca42cf487893"
            ]
        ]
    },
    {
        "id": "7e4fc5d4067b3aea",
        "type": "file",
        "z": "ae02c5fbbb9498b8",
        "name": "",
        "filename": "C:\\Users\\Chris\\polimi\\NSDS\\NSDS_Contiki_Node\\files\\log.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1390,
        "y": 100,
        "wires": [
            [
                "8f4e1a6f3a1ddaec",
                "47bcca42cf487893"
            ]
        ]
    },
    {
        "id": "8f4e1a6f3a1ddaec",
        "type": "e-mail",
        "z": "ae02c5fbbb9498b8",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": false,
        "name": "omdxtc@telegmail.com",
        "dname": "Send Mail!",
        "x": 1710,
        "y": 100,
        "wires": []
    },
    {
        "id": "eeab957964d8bbe6",
        "type": "json",
        "z": "ae02c5fbbb9498b8",
        "name": "save_temp_file",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 580,
        "y": 440,
        "wires": [
            [
                "1f86549ecd9fdc2c"
            ]
        ]
    },
    {
        "id": "1f86549ecd9fdc2c",
        "type": "file",
        "z": "ae02c5fbbb9498b8",
        "name": "",
        "filename": "C:\\Users\\Chris\\polimi\\NSDS\\NSDS_Contiki_Node\\files\\temp.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 800,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "eba43f17ae57de59",
        "type": "file in",
        "z": "ae02c5fbbb9498b8",
        "name": "",
        "filename": "C:\\Users\\Chris\\polimi\\NSDS\\NSDS_Contiki_Node\\files\\temp.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 990,
        "y": 420,
        "wires": [
            [
                "93b4659e8c1e1a01"
            ]
        ]
    },
    {
        "id": "be1b2ad5129b553a",
        "type": "delay",
        "z": "ae02c5fbbb9498b8",
        "name": "delay",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 890,
        "y": 140,
        "wires": [
            [
                "eba43f17ae57de59"
            ]
        ]
    },
    {
        "id": "7ef1e470bc7eb99c",
        "type": "function",
        "z": "ae02c5fbbb9498b8",
        "name": "filter_null_msg_change",
        "func": "if(msg!=null) return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 300,
        "wires": [
            [
                "eeab957964d8bbe6"
            ]
        ]
    },
    {
        "id": "e714ed5cdd4bcb8b",
        "type": "function",
        "z": "ae02c5fbbb9498b8",
        "name": "compute_temperature_humidity",
        "func": "let change_msg = null;\nlet new_msg = null;\n\nif (msg.topic != 'nsds-iot-contiki' && context.get(\"current_year\") == null) {\n    context.set(\"current_day\", msg.payload.current_day);\n    context.set(\"current_month\", msg.payload.current_month);\n    context.set(\"current_year\", msg.payload.current_year);\n    context.set(\"current_day_temp\", msg.payload.current_day_temp);\n    context.set(\"current_day_humidity\", msg.payload.current_day_humidity);\n    context.set(\"max_temp\", msg.payload.max_temp);\n    context.set(\"min_temp\", msg.payload.min_temp);\n    context.set(\"max_humidity\", msg.payload.max_humidity);\n    context.set(\"min_humidity\", msg.payload.min_humidity);\n    context.set(\"reading\", msg.payload.reading);\n}\nelse if (msg.topic == \"nsds-iot-contiki\" && context.get(\"current_year\") != null) {\n    if (msg.payload.day == context.get(\"current_day\")) {\n        context.set(\"current_day_temp\", context.get(\"current_day_temp\") + msg.payload.temp);\n        context.set(\"current_day_humidity\", context.get(\"current_day_humidity\") + msg.payload.temp);\n        context.set(\"reading\", context.get(\"reading\") + 1);\n        change_msg = {\n            topic: msg.topic,\n            payload: {\n                current_month: context.get(\"current_month\"),\n                current_year: context.get(\"current_year\"),\n                current_day: context.get(\"current_day\"),\n                max_temp: context.get(\"max_temp\"),\n                min_temp: context.get(\"min_temp\"),\n                max_humidity: context.get(\"max_humidity\"),\n                min_humidity: context.get(\"min_humidity\"),\n                current_day_temp: context.get(\"current_day_temp\"),\n                current_day_humidity: context.get(\"current_day_humidity\"),\n                reading: context.get(\"reading\")\n            }\n        }\n    }\n    if (msg.payload.day != context.get(\"current_day\")) {\n        if (context.get(\"reading\") == 0) {\n            context.set(\"reading\", 1);\n        }\n        var avg_temp = context.get(\"current_day_temp\") / context.get(\"reading\");\n        var avg_humidity = context.get(\"current_day_humidity\") / context.get(\"reading\");\n      \n        if (avg_temp > context.get(\"max_temp\")) context.set(\"max_temp\", avg_temp);\n        if (avg_temp < context.get(\"min_temp\")) context.set(\"min_temp\", avg_temp);\n        if (avg_humidity > context.get(\"max_humidity\")) context.set(\"max_humidity\", avg_humidity);\n        if (avg_humidity < context.get(\"min_humidity\")) context.set(\"min_humidity\", avg_humidity);\n        \n        change_msg = {\n            topic: msg.topic,\n            payload: {\n                current_month: context.get(\"current_month\"),\n                current_year: context.get(\"current_year\"),\n                current_day: context.get(\"current_day\"),\n                max_temp: context.get(\"max_temp\"),\n                min_temp: context.get(\"min_temp\"),\n                max_humidity: context.get(\"max_humidity\"),\n                min_humidity: context.get(\"min_humidity\"),\n                current_day_temp: context.get(\"current_day_temp\"),\n                current_day_humidity: context.get(\"current_day_humidity\"),\n                reading: context.get(\"reading\")\n            }\n        }\n\n        context.set(\"current_day_temp\", msg.payload.temp);\n        context.set(\"current_day_humidity\", msg.payload.hum);\n        context.set(\"current_day\", msg.payload.day);\n        context.set(\"reading\", 1);\n    }\n    if (msg.payload.month != context.get(\"current_month\")) {\n        new_msg = {\n            topic: msg.topic,\n            payload: 1\n        }\n\n        context.set(\"current_day\", msg.payload.day);\n        context.set(\"current_month\", msg.payload.month);\n        context.set(\"current_year\", msg.payload.year);\n        context.set(\"max_temp\", 0);\n        context.set(\"min_temp\", 100);\n        context.set(\"max_humidity\", 0);\n        context.set(\"min_humidity\", 100);\n\n    }\n\n    return [new_msg, change_msg];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"current_day\", null)\ncontext.set(\"current_month\", null)\ncontext.set(\"current_year\", null)\ncontext.set(\"current_day_temp\", null)\ncontext.set(\"current_day_humidity\", null)\ncontext.set(\"max_temp\", null)\ncontext.set(\"min_temp\", null)\ncontext.set(\"max_humidity\", null)\ncontext.set(\"min_humidity\", null)\ncontext.set(\"reading\", null)",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 160,
        "wires": [
            [
                "ac799b99f80a2b8f",
                "a3c856a7790c9d3f"
            ],
            [
                "7ef1e470bc7eb99c",
                "5c8dc14077af61e4"
            ]
        ]
    },
    {
        "id": "e4c052505198b043",
        "type": "function",
        "z": "ae02c5fbbb9498b8",
        "name": "prepare_log_line",
        "func": "msg.payload = \"max temp for \" + msg.payload.current_month + \"/\" + msg.payload.current_year + \" is \" + msg.payload.max_temp + \" °C, the min is \" + msg.payload.min_temp + \"°C,\" + \" max humidity is \" + msg.payload.max_humidity + \" min humidity is \" + msg.payload.min_humidity + \".\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 300,
        "wires": [
            [
                "5e68a04c74809f5f"
            ]
        ]
    },
    {
        "id": "93b4659e8c1e1a01",
        "type": "json",
        "z": "ae02c5fbbb9498b8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1130,
        "y": 340,
        "wires": [
            [
                "e4c052505198b043"
            ]
        ]
    },
    {
        "id": "de1d0d75b37a4628",
        "type": "inject",
        "z": "ae02c5fbbb9498b8",
        "name": "prestart",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 680,
        "wires": [
            [
                "b0e01783b750e788"
            ]
        ]
    },
    {
        "id": "b0e01783b750e788",
        "type": "function",
        "z": "ae02c5fbbb9498b8",
        "name": "store_base_values",
        "func": "msg = {\n    payload: {\n    current_day: 1,\n    current_month: 1,\n    current_year: 2000,\n    current_day_temp: 0,\n    current_day_humidity: 0,\n    max_temp: 0,\n    min_temp: 100,\n    max_humidity: 0,\n    min_humidity: 100,\n    reading:0\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 680,
        "wires": [
            [
                "db44c9e5136f249b"
            ]
        ]
    },
    {
        "id": "e3696da18a6f1423",
        "type": "file",
        "z": "ae02c5fbbb9498b8",
        "name": "",
        "filename": "C:\\Users\\Chris\\polimi\\NSDS\\NSDS_Contiki_Node\\files\\temp.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 960,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "db44c9e5136f249b",
        "type": "json",
        "z": "ae02c5fbbb9498b8",
        "name": "save_temp_file_base_values",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 540,
        "y": 680,
        "wires": [
            [
                "e3696da18a6f1423"
            ]
        ]
    },
    {
        "id": "426672445b5e91c2",
        "type": "file in",
        "z": "ae02c5fbbb9498b8",
        "name": "",
        "filename": "C:\\Users\\Chris\\polimi\\NSDS\\NSDS_Contiki_Node\\files\\temp.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 320,
        "y": 40,
        "wires": [
            [
                "4cfd93878c46dd52"
            ]
        ]
    },
    {
        "id": "4cfd93878c46dd52",
        "type": "json",
        "z": "ae02c5fbbb9498b8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 350,
        "y": 160,
        "wires": [
            [
                "e714ed5cdd4bcb8b",
                "5097e2a6f6eb79e2"
            ]
        ]
    },
    {
        "id": "ac799b99f80a2b8f",
        "type": "function",
        "z": "ae02c5fbbb9498b8",
        "name": "filter_null_msg",
        "func": "if(msg!=null) return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 120,
        "wires": [
            [
                "be1b2ad5129b553a"
            ]
        ]
    },
    {
        "id": "4b9e9ce0de67b3e2",
        "type": "mqtt in",
        "z": "ae02c5fbbb9498b8",
        "name": "contiki-MQTT",
        "topic": "iot/native/launchpad/json",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "5b3ddf093fdf1ef4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 280,
        "wires": [
            [
                "efc72b4de70f7b14",
                "426672445b5e91c2"
            ]
        ]
    },
    {
        "id": "a3c856a7790c9d3f",
        "type": "debug",
        "z": "ae02c5fbbb9498b8",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 220,
        "wires": []
    },
    {
        "id": "efc72b4de70f7b14",
        "type": "json",
        "z": "ae02c5fbbb9498b8",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 150,
        "y": 360,
        "wires": [
            [
                "885d80d66fefa612"
            ]
        ]
    },
    {
        "id": "5c8dc14077af61e4",
        "type": "debug",
        "z": "ae02c5fbbb9498b8",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 280,
        "wires": []
    },
    {
        "id": "885d80d66fefa612",
        "type": "function",
        "z": "ae02c5fbbb9498b8",
        "name": "rename_topic",
        "func": "let new_msg={\n    topic: \"nsds-iot-contiki\",\n    payload: msg.payload\n}\nreturn new_msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 360,
        "wires": [
            [
                "e714ed5cdd4bcb8b",
                "50b48ce9d03fcf20"
            ]
        ]
    },
    {
        "id": "50b48ce9d03fcf20",
        "type": "debug",
        "z": "ae02c5fbbb9498b8",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 520,
        "wires": []
    },
    {
        "id": "5097e2a6f6eb79e2",
        "type": "debug",
        "z": "ae02c5fbbb9498b8",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 60,
        "wires": []
    },
    {
        "id": "47bcca42cf487893",
        "type": "debug",
        "z": "ae02c5fbbb9498b8",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1460,
        "y": 340,
        "wires": []
    }
]